%h1.title Buscar ubicación de interés visitadas

%h2.title Por coordenadas
= form_tag locations_resultados_path :method => :get do

  = label :sitio,:latitude, 'Latitud'
  = text_field :sitio,:latitude

  = label :sitio,:longitude, 'Longitud'
  = text_field :sitio,:longitude
  %p
  = submit_tag 'Buscar sitio'

%p

%h2.title Por coordenadas en un archivo json

= form_tag locations_resultados_path :method =>:post do
  = file_field_tag :json
  = submit_tag 'Cargar archivo'
%p

= link_to 'Volver a lista de ubicaciones', locations_path
