%h1.title Crear nueva ubicación de interes

= form_tag locations_path, :method => :post do

  = label :location, :latitude, 'Latitud'
  = text_field :location, :latitude

  = label :location, :longitude, 'Longitud'
  = text_field :location, :longitude

  = label :location, :name, 'Nombre'
  = text_field :location, :name

  = label :location, :description, 'Descripción'
  = text_area :location, :description

  %p
  = submit_tag 'Guardar cambios'

%p
= link_to 'Volver a lista de ubicaciones', locations_path
