%h1.title Lista puntos de interes cercanos a su ubicación

%p=@path
%p=@parametros

%table#table
  %thead
    %tr
      %th Nombre
      %th Latitud
      %th Longitud
      %th Descripción
      %th
      %th
      %th
  %tbody
    - @res.each do |location|
      %tr
        %td= link_to location.name, location_path(location), :method => :get
        %td= location.latitude
        %td= location.longitude
        %td= location.description
        %td= link_to "Editar", edit_location_path(location)
        %td= link_to "Borrar", location_path(location), :method => :delete, :confirm => '¿Esta seguro?'

%p= show_flash


%p=link_to 'Buscar otra ubicación', locations_buscar_path

%p= link_to 'Volver a lista de ubicaciones', locations_path
